favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-mail-reader.desktop,exo-web-browser.desktop
recent=slack.desktop,Firefox-Nightly.desktop,xfce-settings-manager.desktop,Lotus Sametime Connect 8.desktop,firefox.desktop,gnome-calculator.desktop,org.gnome.Weather.Application.desktop,exo-file-manager.desktop,terminator.desktop,exo-terminal-emulator.desktop
button-title=Applications
button-icon=xfce4-whiskermenu
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=false
launcher-show-description=true
item-icon-size=3
hover-switch-category=true
category-icon-size=2
load-hierarchy=true
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=false
menu-width=510
menu-height=694
menu-opacity=85
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=gdmflexiserver
show-command-switchuser=true
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=4

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action2]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action3]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

