[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ptcpt072/Desktop/faq.desktop]
row=2
col=1

[/home/ptcpt072/Desktop/Amazon_co_uk_-_Online_Return_Center.pdf]
row=5
col=0

[/home/ptcpt072/Desktop/cluster_linux-pacemaker-pcs-crmsh-quick-ref.pdf]
row=4
col=0

[/home/ptcpt072/Desktop/guide.desktop]
row=3
col=1

[/home/ptcpt072/Desktop/223_Part_1___UnixGeek.pdf]
row=5
col=1

[/home/ptcpt072/Desktop/AIX_Technology_Level_update_strategies.pdf]
row=7
col=0

[/home/ptcpt072/Desktop/Linux-HA-Cheat_Sheet.pdf]
row=3
col=0

[/home/ptcpt072/Desktop/NimbusSanL-ReguItal.pdf]
row=6
col=0

[/home/ptcpt072/Desktop/Virtual_Client_Windows_7-KVM-virt-manager.desktop]
row=1
col=1

[/home/ptcpt072/Desktop/LINUX_-_Patch_Management_Wiki.pdf]
row=0
col=1

[/home/ptcpt072/Desktop/todo]
row=4
col=1

[/home/ptcpt072/Desktop/clustering-101.pdf]
row=8
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ptcpt072]
row=2
col=0

